 body{
    background-color: white;
    margin: 0px !important;

 }
.col-sm-1{
    float: left;
    height: 100%;
    width: 45%;
 }

 .yen{
    padding: 3%;
    background: white;
    height: 800px;
    box-sizing:border-box;
 }

 input[type=text]{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid lavender;
    border-radius: 2px;
 }

 button{
    background-color: red;
    color: white;
    border: none;
    padding: 8px;
    text-decoration: none;
    width: 100%;
 }
 input[type=password]{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid lavender;
    border-radius: 2px;
    background-image:url(eye.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-right: 30px;
    background-size: 30px 40px;
 }


  .saw{
    width: 25%;
    height: 10%;
    padding: 15%;
    padding-left: 40%;
    padding-right: 40%;
}
 
